/*
TOC 
--------------------------------------- */

.resource-view.toc {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.resource-view.toc.active {
  display: block;
}

/*.toc {
  margin-right: 20px;
  position: relative;
}*/

.resource-view.toc .heading-ref {
  cursor: pointer;
  display: block;
  color: rgba(0,0,0,0.5);
  font-size: 17px;
  padding: 4px 10px;
  line-height: 20px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  margin-right: 10px;
  border: 1px solid transparent;
}

.resource-view.toc .heading-ref.highlighted {
  color: rgba(0,0,0,0.9);
  background: #fff;
  border: 1px solid #eee;
}

.resource-view.toc .heading-ref.level-2 {
  padding-left: 30px;
  font-size: 13px;
}

.resource-view.toc .heading-ref.level-3 {
  padding-left: 60px;
  font-size: 13px;
}

.resource-view.toc .heading-ref:hover {
  color: rgba(0,0,0,1.0);
}
